<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserMessageMapper">

    <resultMap type="com.ruoyi.system.domain.UserMessage" id="UserMessageResult">
        <result property="id"    column="id"    />
        <result property="messageTime"    column="message_time"    />
        <result property="content"    column="content"    />
        <result property="sender"    column="sender"    />
        <result property="receiver"    column="receiver"    />
    </resultMap>

    <sql id="selectUserMessageVo">
        select sender, receiver , content, message_time  from user_message
    </sql>

    <select id="selectUserMessageList" parameterType="com.ruoyi.system.domain.UserMessage" resultMap="UserMessageResult">
        <include refid="selectUserMessageVo"/>
        <where>
            <if test="messageTime != null "> and message_time = #{messageTime}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="sender != null  and sender != ''"> and sender = #{sender}</if>
            <if test="receiver != null  and receiver != ''"> and receiver = #{receiver}</if>
        </where>
        order by id desc
    </select>

    <select id="selectUserMessageById" parameterType="java.lang.Long" resultMap="UserMessageResult">
        <include refid="selectUserMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserMessage" parameterType="com.ruoyi.system.domain.UserMessage" useGeneratedKeys="true" keyProperty="id">
        insert into user_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageTime != null">message_time,</if>
            <if test="content != null">content,</if>
            <if test="sender != null">sender,</if>
            <if test="receiver != null">receiver,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageTime != null">#{messageTime},</if>
            <if test="content != null">#{content},</if>
            <if test="sender != null">#{sender},</if>
            <if test="receiver != null">#{receiver},</if>
        </trim>
    </insert>

    <update id="updateUserMessage" parameterType="com.ruoyi.system.domain.UserMessage">
        update user_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageTime != null">message_time = #{messageTime},</if>
            <if test="content != null">content = #{content},</if>
            <if test="sender != null">sender = #{sender},</if>
            <if test="receiver != null">receiver = #{receiver},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserMessageById" parameterType="java.lang.Long">
        delete from user_message where id = #{id}
    </delete>

    <delete id="deleteUserMessageByIds" parameterType="java.lang.String">
        delete from user_message where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>