<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.work.WorkWithdrawalFaceMapper">
    
    <resultMap type="com.ruoyi.system.domain.work.WorkWithdrawalFace" id="WorkWithdrawalFaceResult">
        <result property="id"    column="id"    />
        <result property="unit"    column="unit"    />
        <result property="unitCode"    column="unit_code"    />
        <result property="teamNo"    column="team_no"    />
        <result property="miningTechnology"    column="mining_technology"    />
        <result property="installationLocation"    column="installation_location"    />
        <result property="faceYard"    column="face_yard"    />
        <result property="plannedSupportQty"    column="planned_support_qty"    />
        <result property="plannedChuteQty"    column="planned_chute_qty"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWorkWithdrawalFaceVo">
        select id, unit, unit_code, team_no, mining_technology, installation_location, face_yard,
               planned_support_qty, planned_chute_qty, status, create_time from work_withdrawal_face
    </sql>

    <select id="selectWorkWithdrawalFaceList" parameterType="com.ruoyi.system.domain.work.WorkWithdrawalFace" resultMap="WorkWithdrawalFaceResult">
        <include refid="selectWorkWithdrawalFaceVo"/>
        <where>  
            <if test="unit != null  and unit != ''"> and unit = #{unit}</if>
            <if test="unitCode != null  and unitCode != ''"> and unit_code = #{unitCode}</if>
            <if test="teamNo != null  and teamNo != ''"> and team_no = #{teamNo}</if>
            <if test="miningTechnology != null  and miningTechnology != ''"> and mining_technology = #{miningTechnology}</if>
            <if test="installationLocation != null  and installationLocation != ''"> and installation_location = #{installationLocation}</if>
            <if test="faceYard != null  and faceYard != ''"> and face_yard = #{faceYard}</if>
            <if test="plannedSupportQty != null  and plannedSupportQty != ''"> and planned_support_qty = #{plannedSupportQty}</if>
            <if test="plannedChuteQty != null  and plannedChuteQty != ''"> and planned_chute_qty = #{plannedChuteQty}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWorkWithdrawalFaceById" parameterType="java.lang.String" resultMap="WorkWithdrawalFaceResult">
        <include refid="selectWorkWithdrawalFaceVo"/>
        where id = #{id}
    </select>

    <insert id="insertWorkWithdrawalFace" parameterType="com.ruoyi.system.domain.work.WorkWithdrawalFace" useGeneratedKeys="true" keyProperty="id">
        insert into work_withdrawal_face
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="unit != null and unit != ''">unit,</if>
            <if test="unitCode != null and unitCode != ''">unit_code,</if>
            <if test="teamNo != null and teamNo != ''">team_no,</if>
            <if test="miningTechnology != null and miningTechnology != ''">mining_technology,</if>
            <if test="installationLocation != null and installationLocation != ''">installation_location,</if>
            <if test="faceYard != null and faceYard != ''">face_yard,</if>
            <if test="plannedSupportQty != null and plannedSupportQty != ''">planned_support_qty,</if>
            <if test="plannedChuteQty != null and plannedChuteQty != ''">planned_chute_qty,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="unit != null and unit != ''">#{unit},</if>
            <if test="unitCode != null and unitCode != ''">#{unitCode},</if>
            <if test="teamNo != null and teamNo != ''">#{teamNo},</if>
            <if test="miningTechnology != null and miningTechnology != ''">#{miningTechnology},</if>
            <if test="installationLocation != null and installationLocation != ''">#{installationLocation},</if>
            <if test="faceYard != null and faceYard != ''">#{faceYard},</if>
            <if test="plannedSupportQty != null and plannedSupportQty != ''">#{plannedSupportQty},</if>
            <if test="plannedChuteQty != null and plannedChuteQty != ''">#{plannedChuteQty},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWorkWithdrawalFace" parameterType="com.ruoyi.system.domain.work.WorkWithdrawalFace">
        update work_withdrawal_face
        <trim prefix="SET" suffixOverrides=",">
            <if test="unit != null and unit != ''">unit = #{unit},</if>
            <if test="unitCode != null and unitCode != ''">unit_code = #{unitCode},</if>
            <if test="teamNo != null and teamNo != ''">team_no = #{teamNo},</if>
            <if test="miningTechnology != null and miningTechnology != ''">mining_technology = #{miningTechnology},</if>
            <if test="installationLocation != null and installationLocation != ''">installation_location = #{installationLocation},</if>
            <if test="faceYard != null and faceYard != ''">face_yard = #{faceYard},</if>
            <if test="plannedSupportQty != null and plannedSupportQty != ''">planned_support_qty = #{plannedSupportQty},</if>
            <if test="plannedChuteQty != null and plannedChuteQty != ''">planned_chute_qty = #{plannedChuteQty},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkWithdrawalFaceById" parameterType="java.lang.String">
        delete from work_withdrawal_face where id = #{id}
    </delete>

    <delete id="deleteWorkWithdrawalFaceByIds" parameterType="java.lang.String">
        delete from work_withdrawal_face where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>